/* Общие стили */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

h1 {
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin: 10px 0;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
}

button:hover {
    background-color: #0056b3;
}

/* Скрытые элементы */
.hidden {
    display: none;
}

/* Ошибки в тексте */
input.error {
    background-color: #ffdddd;
    border: 1px solid red;
}

/* Стили для всплывающего списка текстов */
#textListContainer {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-height: 150px;
    overflow-y: auto;
    border-radius: 5px;
}

#textList span {
    list-style: none;
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

#textList span:hover {
    background-color: #f1f1f1;
}

#result {
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}
.textToType{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.list-item {
    display: flex; /* Размещаем элементы в строку */
    justify-content: space-between; /* Размещаем текст и кнопку по краям */
    align-items: center; /* Выравнивание по вертикали */
    padding: 8px 0; /* Отступы сверху и снизу */
    border-bottom: 1px solid #ddd; /* Разделение строк */
}

.text-item {
    flex-grow: 1; /* Текст занимает всё доступное пространство */
    margin-right: 10px; /* Отступ между текстом и кнопкой */
    overflow: hidden; /* Обрезка текста, если он слишком длинный */
    text-overflow: ellipsis; /* Добавление многоточия, если текст обрезан */
    white-space: nowrap; /* Запрещаем перенос текста */
}

.delete-btn {
    padding: 5px 10px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.delete-btn:hover {
    background-color: #e60000;
}
.textToType{
    overflow-wrap: break-word; /* Принудительный перенос слов */
    white-space: normal; /* Нормальный режим переноса текста */
}
